<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UPI Test</title>
  <style>
    h4 {
      margin-top: 0;
    }

    a {
      display: inline-block;
      margin-bottom: 5px;
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;

    }

    .box {
      border: 1px solid black;
      padding: 10px;
      display: inline-block;
      margin: 5px;
      min-width: 250px;
    }
  </style>
</head>

<body>
  <div class="boxes">

  </div>

  <script>
    let innerHTML = [];

    let upilinks = [
      { id: "jmfinancial@kaypay" },
      { id: "salt@kaypay" },
      { id: "marketpulse@kaypay" },
      { id: "firststock@kaypay" },
      { id: "asthatrade@kaypay" },
      { id: "wintwealth@kaypay" },
      { id: "tiqs@kaypay" },
      { id: "kuvera@kaypay" },
      { id: "salttest@kaypay" },
      { id: "dhan@kaypay" },
      { id: "vnsfinance@kaypay" },
      { id: "anandrathu@kaypay" },
      { id: "kaaml@kaypay" },
      { id: "acumen@kaypay" },
      { id: "kotaksecurites@kaypay" },
      { id: "arihantcapital@kaypay" },
      { id: "5paisa@kaypay" },
      { id: "fundsindia@kaypay" },
      { id: "dhanmoney@kaypay" },
      { id: "sharekhan@kaypay" },
      { id: "adityabirla@kaypay" },
      { id: "moneyview@kaypay" },
      { id: "creditwise@kaypay" },
      { id: "jaikisan@kaypay" },
      { id: "creditsaison@kaypay" },
      { id: "fibe@kaypay" },
      { id: "faircent@kaypay" },
      { id: "navi@kaypay" },
      { id: "mobikwikfullerton@kaypay" },
      { id: "freomoney@kaypay" },
      { id: "naviamc@kaypay" },
      { id: "stashfin@kaypay" },
      { id: "respo@kaypay" },
      { id: "edufund@kaypay" },
      { id: "mobikwik@kaypay" },
      { id: "sbm@kaypay" },
      { id: "ruptok@kaypay" },
      { id: "indmoney@kaypay" },
      { id: "angelone@kaypay" },
      // { id: "acumen@kaypay" },
    ];


    let template = `
        <div class="box">
          <h4>{{title}}</h4>
          <div>
            <a
              href="{{generic_upi_link}}"
              >Generic UPI Link</a
            >
          </div>
          <div>
            <a
              href="{{gpay_upi_link}}"
              >GPay Specific Link</a
            >
          </div>
          <div>
            <a
              href="{{phonepe_upi_link}}"
              >PhonePe Specific Link</a
            >
          </div>
          <div>
            <a
              href="{{paytm_upi_link}}"
              >Paytm Specific Link</a
            >
          </div>
          <div>
            <a
              href="{{cred_upi_link}}"
              >CRED Specific Link</a
            >
          </div>
        </div>
      `;


    function getUPILink(id) {
      const tr = "990000000000000000"
      const upi = `upi://pay?pa=${id}&pn=SETU&am=1.00&tr=${tr}&tn=Account%20Verification&cu=INR&mc=6211&mode=04`
      return { tr, upi }
    }


    function getQueryParam(parameter) {
      const urlParams = new URLSearchParams(window.location.search);
      const paramValue = urlParams.get(parameter);

      if (paramValue !== null) {
        // Split the values by commas and trim each value
        return paramValue.split(',').map(value => value.trim()).filter(e => e);
      } else {
        return []; // Return an empty array if the parameter is not found
      }
    }

    const query_vpas = getQueryParam("vpa")

    if (query_vpas.length) {
      upilinks = query_vpas.map(vpa => ({id:vpa}))
    }




    upilinks.forEach((upilink, index) => {
      const { upi, tr } = getUPILink(upilink.id);
      html = template
        .replace("{{generic_upi_link}}", upi)
        .replace("{{title}}", `${index + 1}. ${upilink.id}`)
        .replace(
          "{{gpay_upi_link}}",
          upi.replace("upi://pay", "gpay://upi/pay")
        )
        .replace(
          "{{phonepe_upi_link}}",
          upi.replace("upi://pay", "phonepe://pay")
        )
        .replace(
          "{{paytm_upi_link}}",
          upi.replace("upi://pay", "paytmmp://pay")
        )
        .replace(
          "{{cred_upi_link}}",
          upi.replace("upi://pay", "credpay://upi")
        );

      innerHTML.push(html);
    });

    document.querySelector('.boxes').innerHTML = innerHTML.join("");
  </script>
</body>

</html>