<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test New VPA</title>
    <style>
        h4 {
            margin-top: 0;
        }

        a {
            display: inline-block;
            margin-bottom: 5px;
        }

        .box {
            border: 1px solid black;
            padding: 10px;
            display: inline-block;
            margin: 5px;
        }

        .buttons button {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <hr />
    <div>
        <div>Enter VPA</div>
        <input id="pa" placeholder="example@icici" value="setu@kaypay" />
    </div>
    <p></p>
    <div>
        <div>Transaction Ref</div>
        <input id="tr" placeholder="123232323" />
        <button id="tr_generate_btn">Generate</button>
    </div>
    <p></p>
    <div>
        <div>Payer Name</div>
        <input id="pn" value="Akshay 18082022" />
    </div>
    <p></p>
    <div>
        <div>MCC</div>
        <input id="mcc" value="6211" />
    </div>
    <p></p>
    <div>
        <div>Amount</div>
        <input id="am" value="1.00" />
    </div>
    <p></p>
    <div>
        <div>Transaction Note</div>
        <input id="tn" value="Account Verification" />
    </div>
    <p></p>
    <div>
        <div>tid</div>
        <input id="tid" value="" placeholder="Keep this blank" />
    </div>
    <hr />

    <div>
        <div class="box">
            <h4>UPI Links</h4>
            <div class="buttons">
                <button id="generic_upi_btn">Generic UPI Link</button>
            </div>
            <div class="buttons">
                <button id="gpay_upi_btn">GPay Specific Link</button>
            </div>
            <div class="buttons">
                <button id="phonepe_upi_btn">PhonePe Specific Link</button>
            </div>
        </div>
        <div>
</body>

<script>
    function clean_obj(obj) {
        for (var propName in obj) {
            if (obj[propName] === null || obj[propName] === undefined) {
                delete obj[propName];
            }
        }
        return obj;
    }

    function generate_tr_btn_handler() {
        const elem = document.getElementById("tr");
        elem.value = Array.from({ length: 15 }, () => Math.floor(Math.random() * 10)).join('');
    }

    function generate_vpa() {
        const pa = document.getElementById("pa").value || "";
        const am = document.getElementById("am").value || "";
        const mcc = document.getElementById("mcc").value || "";
        const pn = encodeURIComponent(document.getElementById("pn").value || "");
        const tr = document.getElementById("tr").value || "";
        const tid = encodeURIComponent(
            document.getElementById("tid").value || ""
        );

        const components = clean_obj({
            pa,
            pn,
            am,
            tr,
            mcc,
            tid,
            cu: "INR",
        });

        const sd = {
            Dsad: "Dsd",
        };

        console.log(components);

        const query_parmams = Object.entries(components).reduce(
            (oldvalue, [key, value]) => {
                const val = `${key}=${value}`;
                if (!oldvalue) {
                    return val;
                }
                return oldvalue + "&" + val;
            },
            ""
        );

        const vpa = `upi://pay?${query_parmams}`;
        console.log(vpa);
        
        return vpa

        // const upilinks = [
        //     {
        //         upi: "",
        //     },
        // ];


        // let innerHTML = [];
        // upilinks.forEach((upilink) => {
        //     html = template
        //         .replace("{{generic_upi_link}}", upilink.upi)
        //         .replace(
        //             "{{gpay_upi_link}}",
        //             upilink.upi.replace("upi://pay", "gpay://upi/pay")
        //         )
        //         .replace(
        //             "{{phonepe_upi_link}}",
        //             upilink.upi.replace("upi://pay", "phonepe://pay")
        //         );

        //     innerHTML.push(html);
        // });
    }

    function upi_intent_handler(mode) {
        function handler() {
            let vpa = generate_vpa()
            if (mode == 'GPAY') {
                vpa = vpa.replace("upi://pay", "gpay://upi/pay")
            }
            if (mode == 'PHONEPE') {
                vpa = vpa.replace("upi://pay", "phonepe://pay")
            }
            window.open(vpa)
        }

        return handler
    }

    document
        .getElementById("tr_generate_btn")
        .addEventListener("click", generate_tr_btn_handler);
    document
        .getElementById("generic_upi_btn")
        .addEventListener("click", upi_intent_handler("GENERIC"));
    document
        .getElementById("gpay_upi_btn")
        .addEventListener("click", upi_intent_handler("GPAY"));
    document
        .getElementById("phonepe_upi_btn")
        .addEventListener("click", upi_intent_handler("PHONEPE"));

    generate_tr_btn_handler()
</script>

</html>